body {
    margin: 0px;
    padding-bottom: 5rem;
    background-color: #EDEDED;
}

header {
    background-color: #FF7600;
    width: 100vw;
    height: 5rem;
    display: flex;
    padding-top: 1.5rem;
    justify-content: space-between; /* push logo left, buttons right */
    align-items: center;
    padding: 0 1rem; /* optional side padding */
    width: 100%;
    box-sizing: border-box;
}

.logo {
    height: 3.5rem;
    width: 6rem;
    margin-top: -0.5rem;
    padding-right: 1rem;
}

.search-bar {
    position: relative;
    width: 50rem;
    min-width: 28rem;
    height: 3rem;
    display: flex;
    padding-left: 1rem;
    margin-right: 7rem;
    border-radius: 0.8rem;
    border-style: hidden;
    background-color: white;
    box-shadow: 0.2rem 0.3rem 0.2rem rgba(0, 0, 0, 0.3);
}

.search-bar input {
    width: 90%;
    padding-right: 2rem;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12pt;
}

input:focus {
    outline: none;
    border: none;
}

.searchbar input::placeholder {
    font-size: 12pt;
    font-family: 'Ubuntu', sans-serif;
}

.search-icon {
    position: absolute;
    right: 0rem;
    top: 50%;
    transform: translateY(-50%);
    width: 4rem;
}

.header-btn {
    position: relative;
    width: 2.3rem;
    height: 2.3rem;
    padding: 0.5rem;
    border-radius: 0.6rem;
    border-style: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    flex-shrink: 0;
    background-color: white; 
    cursor: pointer;
  }
  
  .header-btn-group {
    display: flex;
    gap: 1rem;
    
  }
  
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    object-fit: contain;
    pointer-events: none;
  }

  .header-btn:hover {
    background-color: #FF7600;
  }
  
/*image slider (promotional banners) styling*/

.slider-container {
    padding: 3rem;
    background-color: white;
}

.slider-wrapper {
    position: relative;
    max-width: 78vw;
    height: auto;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 21 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 1.5rem;
}

.slider::-webkit-scrollbar {
    display: none;
  }

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}


.slider-nav {
    background-color: grey;
    opacity: 50%;
    padding: 0.6rem 1rem 0.6rem 1rem;
    border-radius: 1.2rem;
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #FFF;
    opacity: 75%;
    /*smooth change in opacity when user hovers over button*/
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.categories {
    background-color: white;
    border-radius: 2rem;
    text-align: center;
    padding: 1rem;
    overflow-x: hidden;
    width: 78vw;
    margin: 2rem auto;
}

.categories > h2 {
    margin-top: 0;
    font-size: 25pt;
    font-family: 'Ubuntu', sans-serif;
    color: #FF7600;
}

.cat-buttons {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
    gap: 1rem;
    padding: 0.5rem 0;
    scroll-snap-type: x mandatory;
}

.cat-buttons::-webkit-scrollbar {
    display: none; /*hides scrollbar*/
  }

.cat-buttons button {
    flex: 0 0 auto;
    box-shadow: 2px 2px 4px 0px #C4C4C4;
    background: white;
    border: 0.2rem solid white;
    border-radius: 1rem;
    width: 7rem;
    height: auto;
    cursor: pointer; 
}

.cat-buttons button > h3 {
    bottom: 0.1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13pt;
    color: #545454;
}

.cat-buttons button > img {
    height: 4rem;
    margin-top: 1rem;
}

.cat-buttons button:hover {
    border-color: #ff9133;
    background-color:#ff913333;
    transition: all 0.2s;
}

.product-section {
    margin: 2rem auto;
}

.section-title {
    background-color: white;
    color: #FF7600;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14pt;
    border-radius: 1.5rem;
    text-align: center;
    padding-top: 0.1vh;
    padding-bottom: 0.1vh;
    width: 80vw;
    margin: 0 auto;
}

.filter-btn {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15pt;
    font-weight: 500;
    background-color: #FF7600;
    border-style: none;
    border-radius: 1rem;
    margin-top: 1.5rem;
    margin-left: 10vw;
    padding: 1rem;
}

.results-statement {
    font-family: 'Ubuntu', sans-serif;
    font-size: 23pt;
    margin-left: 10vw;
    margin-bottom: 0rem;
    color: #6b6b6b;
}

.product-cards {
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 13rem));
    gap: 2rem;
    justify-content: start;
}

.product-card {
    padding: 1rem;
    background-color: white;
    box-shadow: 2px 2px 4px 0px #C4C4C4;
    border: 0.2rem solid white;
    border-radius: 1rem;
}

.product-card:hover {
    border-color: #ff8d2d;
    transition: all 0.2s;
}

.product-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    border-radius: 1rem;
    border: 0.19rem solid #ff8d2d;
}

.product-name {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16pt;
    line-height: 1.4;
    color: #545454;
}

.product-name:hover {
    color: #FF7600;
}

.price {
    margin-bottom: 0.8rem;
    margin-left: 0.5rem;
    font-family: 'REM', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;  /* bold */
    font-style: normal;
    font-size: 20pt;
    color: #FF7600;
}

.product-card > a {
    color: inherit;          /* inherit text color */
    text-decoration: none;   /* no underline */
    cursor: pointer;         /* pointer on whole card */
  }

/*Add to Cart button and quantity selector styling for product cards*/

.addtocart-btn {
    margin-left: 0.5rem;
    display: block;
    background-color: black;
    color: white;
    height: 2.7rem;
    width: 10rem;
    border-style: none;
    border-radius: 0.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13pt;
}

.addtocart-btn:hover {
    cursor: pointer;
    background-color: #FF7600;
    border: solid #FF7600;
}

.quantity-selector {
    margin-left: 0.5rem;
    display: flex;
    border: none;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 10rem;
    height: 2.7rem;
}
  
.qty-btn {
    background-color: #FF7600;
    color: white;
    border: none;
    width: 3.3rem;
    height: 2.7rem;
    cursor: pointer;
    user-select: none;
}

.qty-btn.plus {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    margin: auto;
    padding-right: 0.5rem;
}

.qty-btn.minus {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    padding-left: 0.5rem;
}
  
.qty-number {
    padding-top: 0.5rem;
    width: 3.4rem;
    height: 1.7rem;
    font-family: 'REM', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    border-color: #FF7600;
    border-width: 0.25rem;
    border-style: solid;
  }

/*product page styling*/

.product {
    display: flex;
    margin: 5rem;
    margin-top: 4rem;
    gap: 2rem;
}

.product-img-with-arrows {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.arrow {
    width: 4vw;
    min-width: 3rem;
    height: auto;
}

.enlarged-product-img {
    min-width: 20rem;
    width: 30vw;
    background-color: white;
    border: solid #FF7600 0.4vw;
    border-radius: 1.5rem;
    height: auto;
}

.product-info {
    margin-left: 2rem;
    flex: 1;
    min-width: 20rem;
    width: 40vw;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    background-color: white;
    border-style: none;
    border-radius: 1.5rem;
    box-shadow: 0.2rem 0.3rem 0.2rem rgba(0, 0, 0, 0.3);
    padding-left: 4rem;
    padding-right: 4rem;
}

.product-info > h1 {
    color: #545454;
    font-size: 28pt;
    margin-top: 8vh;
}

.product-info > h3 {
    color: #6b6b6b;
    font-size: 18pt;
    margin-top: 2vh;
}

.product-info > h4 {
    color: #6b6b6b;
    font-size: 14pt;
    margin-top: 2vh;
}

.product-pg-price {
    margin-top: 3vh;
    text-align: right;
    font-family: 'REM', sans-serif;
    color: #FF7600;
    font-optical-sizing: auto;
    font-weight: 700; 
    font-size: 30pt;
}

/*Add to cart button and quantity selector appearance for product page*/

.enlarged-addtocart-btn {
    display: block;
    margin-bottom: 2rem;
    background-color: black;
    color: white;
    height: 5rem;
    width: 100%;
    border-style: none;
    border-radius: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22pt;
}

.enlarged-addtocart-btn:hover {
    cursor: pointer;
    background-color: #FF7600;
    border: solid #FF7600;
}

.enlarged-qty-selector {
    margin-bottom: 2rem;
    display: flex;
    border: none;
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    height: 5rem;
}

.enlarged-qty-btn {
    background-color: #FF7600;
    color: white;
    border: none;
    width: 32%;
    cursor: pointer;
    user-select: none;
}

.enlarged-qty-btn.plus {
    font-family: 'Ubuntu', sans-serif;
    font-size: 38pt;
    padding-right: 0.5rem;
}

.enlarged-qty-btn.minus {
    font-family: 'Ubuntu', sans-serif;
    font-size: 38pt;
    padding-left: 0.5rem;
}
  
.enlarged-qty-number {
    padding-top: 0.8rem;
    width: 36%;
    font-family: 'REM', sans-serif;
    font-size: 28pt;
    text-align: center;
    border-color: #FF7600;
    border-width: 0.25rem;
    border-style: solid;
}

.related-products {
    margin-left: 12vw;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 20pt;
    color: #6b6b6b;
}

.productpg-product-cards {
    width: 100%;
    margin-left: 12vw;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 13rem));
    gap: 2rem;
    justify-content: start;
}


/*Cart page styling*/

.cart-title, 
.checkout-title {
    color: #FF7600;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 26pt;
    margin-top: 3rem;
}

.cart {
    display: flex;
    column-gap: 2vw;
    align-items: flex-start;
    justify-content: center;
}

.cart-products {
    max-width: 100%;
}

.cart-product {
  width: 40vw;
  min-width: 30rem;
  display: flex;
  margin-bottom: 1rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
}

.cart-product-img-container {
  flex-shrink: 0;
  width: 10rem;
  min-width: 8rem;
  height: 10rem;
  object-fit: contain;
  border: solid #FF7600;
  border-radius: 1rem;
}

.cart-product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    position: relative; 
    padding-left: 1.5rem;
  }

.cart-product-name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 19pt;
    font-weight: 500;
    color: #545454;
    top: 4rem;
}

.cart-product-price {
    text-align: right;
    font-family: 'REM', sans-serif;
    font-size: 20pt;
    font-weight: 600;
    color: #FF7600;
  }
  

.checkout-info {
    padding: 1.5rem;
    border-radius: 1.5rem;
    background-color: white;
    width: 20vw;
    min-width: 13rem;
}

.checkout-info h2 {
    text-align: right;
    font-family: 'REM', sans-serif;
    font-size: 30pt;
    font-weight: 600;
    color: #FF7600;
}

.checkout-info h3 {
    text-align: right;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13pt;
    font-weight: 700;
    color: #545454;
    margin-bottom: -1rem;
}

.checkout-info h4 {
    line-height: 1.8;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13pt;
    font-weight: 500;
    color: #545454;
}

.checkout-divider {
    border: none;
    border-top: 2px solid #C4C4C4;
    margin: 1rem 0;
}

.go-to-checkout-btn {
    display: inline-block;
    text-align: center;
    width: 100%; 
    box-sizing: border-box;
    padding: 1rem;
    background-color: #252525;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 18pt;
    border-style: none;
    border-radius: 1rem;
    text-decoration: none;   /* no underline */
    cursor: pointer;
}

.cart-qty-selector {
    display: flex;
    border: none;
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    height: 3rem;
}

.cart-qty-selector button {
    width: 32%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30pt;
    color: white;
    background-color: #FF7600;
    border: none;
    padding-left: 0.5rem;
}

.cart-qty-number {
    padding-top: 0.3rem;
    width: 36%;
    font-family: 'REM', sans-serif;
    font-size: 18pt;
    text-align: center;
    border-color: #FF7600;
    border-width: 0.25rem;
    border-style: solid;
}

.empty-cart-line {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 15pt;
    width: 40vw;
    background-color: white;
    border-radius: 2rem;
    padding: 3rem;
    margin-top: -0.1rem;
}

/*Checkout page styling*/

.input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-fields h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #545454;
    margin-bottom: 2rem;
    text-align: center;
}

.address-details,
.payment-details {
    margin-top: 4rem;
}

label {
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15pt;
    margin-bottom: 0.7rem;
    margin-top: 1rem;
    color: #333;
  }

  
  .input-fields input {
    border: solid #FF7600 1px;
    border-radius: 1rem;
    padding: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14pt;
    width: 40vw;
  }

  input::placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14pt;
  }

.checkout-btn {
    display: inline-block;
    text-align: center;
    width: 42.5vw; 
    box-sizing: border-box;
    padding: 1rem;
    margin-top: 3rem;
    background-color: #252525;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 18pt;
    border-style: none;
    border-radius: 1rem;
    text-decoration: none;   /* no underline */
    cursor: pointer;
}

.payment-receipt {
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    margin: 0 auto;
    margin-top: 5rem;
    border-style: none;
    border-radius: 2rem;
}

.payment-receipt h2 {
    color: #FF7600;
    font-size: 20pt;
}

.payment-receipt h3 {
    font-size: 15pt;
}

.payment-receipt h4 {
    font-size: 14pt;
    text-align: center;
}

#check-icon {
    margin-top: 2rem;
    width: 5rem;
}

.back-to-home-btn {
    display: inline-block;
    text-align: center;
    width: 90%; 
    box-sizing: border-box;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    background-color: #252525;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 18pt;
    border-style: none;
    border-radius: 1rem;
    text-decoration: none;   /* no underline */
    cursor: pointer;
}

/*adjustments for mobile*/

@media (max-width: 430px) {

    body {
        padding-bottom: 15rem;
    }
    
    .product {
      flex-direction: column;      /* Stack items vertically */
      gap: 2rem;
      margin: unset;   
      margin-top: 1rem; 
      max-width: 100%;             
    }

    .product-img-with-arrows {
        display: flex;
        justify-content: center;  /* center the image horizontally */
        width: 90%;
        margin: unset;
        margin: 0 auto;
    }

    .enlarged-product-img {
        width: 70vw;        
        min-width: unset;         
    }

    .arrow {
        display: none;
    }

    .product-info {
        width: 70vw;
        min-width: unset;
        margin: 0 auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .product-info > h1 {
        font-size: 25pt;
    }
    
    .product-card {
        padding: 0.5rem;
        width: 8.5rem;
    }
    
    .product-image {
        width: 7.5rem;
        margin-top: 0.2rem;
    }

    .product-name {
        padding-left: 0.1rem;
    }

    .addtocart-btn {
        margin: 0 auto;
        width: 7.5rem;
        margin-bottom: 0.5rem;
    }

    .quantity-selector {
        width: 7.5rem;
    }

    .product-section {
        margin: 0 auto;
        width: 100%;
    }

    .section-title {
        min-width: unset;
        width: 90vw;
        margin: 1rem auto;
    }

    .productpg-product-cards, .product-cards {
        grid-template-columns: repeat(auto-fit, 8rem); /* allow more columns */
        gap: 3rem; 
        margin-left: 1.6rem;
        max-width: 90vw; 
    }

    .categories {
        width: 86vw;
        margin: 2rem auto;
        padding: 0.5rem;
    }

    .slider-container {
        padding: unset;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin: 0 auto;
    }

    .slider-wrapper {
        width: 90vw;
        max-width: unset;
    }

    .slider-nav {
        padding: 0.4rem 0.6rem 0.4rem 0.6rem;
        column-gap: 0.8rem;
        bottom: 0.5rem;
    }

    .search-bar {
        display: none;
    }

    .filter-btn {
        margin: 0rem 1.5rem;
    }

    .results-statement {
        font-size: 20pt;
        line-height: 1.5;
        margin-bottom: 1rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .cart {
        flex-direction: column;
        gap: 3rem;
        align-items: center;
    }

    .cart-product-img-container {
        width: 5rem;
        height: 8rem;
    }

    .cart-product {
        margin: unset;
        margin: 0.5rem auto;
        min-width: unset;
        width: 92%;
        padding: 0.8rem;
        margin-bottom: 1.5rem;
    }

    .cart-product-details {
        padding: unset;
        max-width: 50vw;
        padding-left: 0.7rem;
    }

    .cart-product-price {
        font-size: 15pt;
    }

    .cart-product-name {
        font-size: 16pt;
    }

    .cart-qty-selector {
        align-items: center;
        width: 100%;
        height: 2.5rem;
        margin: unset;
        border-radius: 0.8rem;
    }

    .checkout-info {
        width: 80vw;
        min-width: unset;
        margin-top: -2rem;
    }
    
    .input-fields input {
        width: 70vw;
        border-radius: 0.8rem;
    }

    .empty-cart-line {
        width: 80vw;
        padding: 1.5rem;
        border-radius: 1.5rem;
    }

}