body {
    margin: 0px;
    padding: 0px;
    background-color: #EDEDED;
}

header {
    background-color: #FF7600;
    width: 100vw;
    height: 5rem;
    display: flex;
    padding-top: 1.5rem;
}

.logo {
    height: 3.5rem;
    width: 6rem;
    margin-left: 2rem;
    margin-top: -0.5rem;
}

.search-bar {
    width: 50rem;
    min-width: 28rem;
    height: 3rem;
    display: flex;
    padding-left: 1rem;
    margin-left: 4rem;
    border-radius: 0.8rem;
    border-style: hidden;
    background-color: white;
    box-shadow: 0.2rem 0.3rem 0.2rem rgba(0, 0, 0, 0.3);
}

input {
    width: 90%;
    padding-right: 2rem;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12pt;
}

input:focus {
    outline: none;
    border: none;
}

input::placeholder {
    font-size: 12pt;
    font-family: 'Ubuntu', sans-serif;
}

.header-btn {
    position: relative;
    width: 2.3rem;
    height: 2.3rem;
    padding: 0.5rem;
    border-radius: 0.6rem;
    border-style: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    flex-shrink: 0;
    background-color: white; 
  }
  
  .header-btn-group {
    margin-left: 16rem;
    padding-left: 2rem;
    display: flex;
    gap: 1rem;
  }
  
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    object-fit: contain;
    pointer-events: none;
  }

  .header-btn:hover {
    background-color: #FF7600;
  }
  
  


.slider-container {
    padding: 3rem;
    background-color: white;
}

.slider-wrapper {
    position: relative;
    max-width: 75rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 21 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 1.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}


.slider-nav {
    background-color: grey;
    opacity: 50%;
    padding: 0.6rem 1rem 0.6rem 1rem;
    border-radius: 1.2rem;
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #FFF;
    opacity: 75%;
    /*smooth change in opacity when user hovers over button*/
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.categories {
    background-color: white;
    margin: 2rem 7.5rem 2rem 7.5rem;
    border-radius: 2rem;
    text-align: center;
    padding: 1.5rem;
    min-width: 55rem;
}

.categories > h2 {
    margin-top: 0;
    font-size: 25pt;
    font-family: 'Ubuntu', sans-serif;
    color: #FF7600;
}

.cat-buttons {
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 1rem;
}

.cat-buttons button {
    box-shadow: 2px 2px 4px 0px #C4C4C4;
    background: white;
    border: 0.2rem solid white;
    border-radius: 1rem;
    width: 7rem;
    height: 9rem;
    cursor: pointer; 
}

.cat-buttons button > h3 {
    bottom: 0.1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13pt;
    color: #545454;
}

.cat-buttons button > img {
    height: 4rem;
    margin-top: 1rem;
}

.cat-buttons button:hover {
    border-color: #ff9133;
    background-color:#ff913333;
    transition: all 0.2s;
}

.product-section {
    margin: 3rem 7.5rem 2rem 7.5rem;
}

.section-title {
    background-color: white;
    color: #FF7600;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14pt;
    border-radius: 2rem;
    text-align: center;
    padding: 0.05rem;
    min-width: 55rem;
}

.product-cards {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 13rem));
    gap: 2rem;
    justify-content: start;
}

.product-card {
    padding: 1rem;
    background-color: white;
    box-shadow: 2px 2px 4px 0px #C4C4C4;
    border: 0.2rem solid white;
    border-radius: 1rem;
}

.product-card:hover {
    border-color: #ff8d2d;
    transition: all 0.2s;
}

.product-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    border-radius: 1rem;
    border: 0.19rem solid #ff8d2d;
}

.product-name {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16pt;
    line-height: 1.4;
    color: #545454;
}

.product-name:hover {
    color: #FF7600;
}

.price {
    margin-bottom: 0.8rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-family: 'REM', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;  /* bold */
    font-style: normal;
    font-size: 20pt;
    color: #FF7600;
}

.product-card > a {
    color: inherit;          /* inherit text color */
    text-decoration: none;   /* no underline */
    cursor: pointer;         /* pointer on whole card */
  }

.addtocart-btn {
    margin-left: 0.5rem;
    display: block;
    background-color: black;
    color: white;
    height: 2.7rem;
    width: 10rem;
    border-style: none;
    border-radius: 0.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13pt;
}

.addtocart-btn:hover {
    cursor: pointer;
    background-color: #FF7600;
    border: solid #FF7600;
}

.quantity-selector {
    margin-left: 0.5rem;
    display: flex;
    border: none;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 10rem;
    height: 2.7rem;
  }
  
  .qty-btn {
    background-color: #FF7600;
    color: white;
    border: none;
    width: 3.3rem;
    height: 2.7rem;
    cursor: pointer;
    user-select: none;
  }

  .qty-btn.plus {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    margin: auto;
    padding-right: 0.5rem;
  }

  .qty-btn.minus {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    padding-left: 0.5rem;
  }
  
  .qty-number {
    padding-top: 0.5rem;
    width: 3.4rem;
    height: 1.7rem;
    font-family: 'REM', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    border-color: #FF7600;
    border-width: 0.25rem;
    border-style: solid;
  }